/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.header {
    background-color: #B1CFF3; /* Azul claro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-box {
    background-color: #B1CFF3; /* Color de fondo del cuadro */
    padding: 1px; /* Relleno del cuadro */
    border-radius: 10px; /* Bordes redondos del cuadro */
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
}

.nav-button,
.contact-button {
    background-color: #FF6969; /* Rojo claro */
    color: #000; /* Texto en negro */
    padding: 10px 20px;
    border: 2px solid #000; /* Borde con negrilla */
    border-radius: 10px; /* Bordes redondos */
    cursor: pointer;
    font-size: 16px;
}

.left-buttons,
.right-buttons {
    display: flex;
    align-items: center;
}

.nav-button:not(:last-child) {
    margin-right: 10px; /* Espaciado entre botones */
}

.Bienvenido{
    text-align: center;
}

.overlay-container {
    text-align: center; /* Centra el contenido del contenedor overlay */
    position: relative; /* Cambiado a relativo para posicionar el overlay con respecto a este contenedor */
}

.overlay {
    background-color: rgba(58, 58, 58, 0.7); /* Gris transparente */
    padding: 100px;
    border-radius: 10px; /* Bordes redondos para el contenedor */
    color: #fff; /* Texto en blanco */
    position: absolute; /* Posición absoluta para superponer el overlay sobre las imágenes */
    top: 60%; /* Ajusta la posición vertical al 50% del contenedor */
    left: 50%; /* Ajusta la posición horizontal al 50% del contenedor */
    transform: translate(-50%, -50%); /* Centra el overlay completamente en el centro del contenedor */
}

.overlay-container p {
    font-size: 20px;
}

.image-container {
    display: flex; /* Muestra las imágenes en línea */
    justify-content: center; /* Centra las imágenes horizontalmente */
    margin-top: 20px; /* Ajuste del margen superior */
}

.image-container img {
    width: 50%; /* Ancho del 60% para las imágenes */
}

/* Pie de Página */
footer {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos {
    display: flex;
    align-items: center;
}

.logos img {
    width: 30px; /* Ajusta el tamaño según tus necesidades */
    margin-right: 10px;
}

.politicas a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.politicas a:hover {
    text-decoration: underline;
}
