/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.header {
    background-color: #B1CFF3; /* Azul claro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.logo-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Hace que el logo ocupe el espacio disponible */
}

.contact-button {
    background-color: #FF6969; /* Rojo claro */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 2px solid #000;;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
}

/* Contenido principal */
.content {
    width: 50%;
    margin: 40px auto;
    text-align: center; /* Alinea el contenido al centro */
}

/* Primer y segundo contenedor */
.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-field {
    flex: 1;
    margin-bottom: 10px;
}

.form-field input,
.form-field select {
    width: 95%; /* Ancho completo */
    padding: 10px;
    border: 2px solid #000; /* Borde con negrilla */
    border-radius: 10px; /* Bordes redondos */
    box-sizing: border-box;
}

/* Tercer contenedor */
.form-row-last {
    text-align: center; /* Alinea el contenido al centro */
    margin-top: 15px; /* Separación desde arriba */
}

.form-field-last {
    width: 100%; /* Ancho completo */
    margin-bottom: 15px; /* Separación entre casillas */
}

.form-field-last input,
.form-field-last select {
    width: 50%; /* Ancho completo */
    padding: 10px;
    border: 2px solid #000; /* Borde con negrilla */
    border-radius: 10px; /* Bordes redondos */
    box-sizing: border-box;
}

/* Botón de registro */
.registrar-button {
    background-color: #B1CFF3;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}


/* Sección de Iniciar Sesión */
.iniciar-sesion {
    margin-top: 20px;
}

.iniciar-sesion p {
    margin: 0;
    font-size: 14px;
}

.iniciar-sesion span {
    color: #000000; 
    cursor: pointer;
    text-decoration: underline;
}

/* Pie de Página */
footer {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos {
    display: flex;
    align-items: center;
}

.logos img {
    width: 30px; /* Ajusta el tamaño según tus necesidades */
    margin-right: 10px;
}

.politicas a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.politicas a:hover {
    text-decoration: underline;
}
