/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.header {
    background-color: #B1CFF3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.notificaciones img {
    max-width: 30px;
    height: auto;
    
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
}

.nav-button,
.contact-button {
    background-color: #FF6969; /* Cambiado a rojo */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 100px;
    cursor: pointer;
    font-size: 17;
    gap: 5px;
}

.left-buttons {
    display: flex;
    gap: 5px;
}

.left-buttons .nav-button {
    background-color: #FF6969; /* Cambiado a rojo */
    color: #000;
    
}

/* Contenido del mapa */
.map-container {
    text-align: center; /* Centra el mapa horizontalmente */
}

iframe {
    width: 70%;
    height: 500px;
    display: block;
    margin: 20px auto;
}

/* Pie de Página */
footer {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.logos {
    display: flex;
    align-items: center;
}

.logos img {
    width: 30px;
    margin-right: 10px;
}

.politicas a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.politicas a:hover {
    text-decoration: underline;
}
